<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <title>BolinYoung&#39;s Blog</title>
  <meta name="author" content="BolinYoung">
  
  <meta name="description" content="Coder @Alibaba">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <meta property="og:site_name" content="BolinYoung&#39;s Blog"/>
  
  <link rel="alternate" href="/atom.xml" title="BolinYoung&#39;s Blog" type="application/atom+xml">
  
  
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
</head>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','Et1J2-wE4hZdMNZyTfCZ','2.0.0');
</script>
<body>
  <div class="screen">
	  <div class="wrapper">
		<header id="header">
  <div class="title">
    <h1><a href="/">BolinYoung&#39;s Blog</a></h1>
    <p><a href="/">Believe in yourself</a></p>
  </div>
  <nav class="nav">
    <ul>
      
        <li><a href="/">Home</a></li>
      
        <li><a href="/reading">Reading</a></li>
      
        <li><a href="/archives">Archives</a></li>
      
        <li><a href="/about">About</a></li>
      
      
        <li><a href="/atom.xml">RSS</a></li>
      
    </ul>
    <div class="clearfix"></div>
  </nav>
  <div class="clearfix"></div>
</header>
		<div class="content">




  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2016/05/22/enum-probolems-in-hessian/">
  <time datetime="2016-05-22T03:03:47.000Z">
    May 22 2016
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2016/05/22/enum-probolems-in-hessian/">枚举在hessian序列化和反序列化中的问题</a></h1>
  

  </header>
  
  <div class="entry">
    
      <h4 id="一-概述">一.概述</h4>
<p>最近在拆分一个枚举类，但是该枚举类使用在一个RPC接口上，枚举类使用在RPC接口上，必然要考虑序列化和反序列化的问题，需要确保自己对枚举的拆分不会导致序列化和反序列化的问题。</p>

    
  </div>
  <footer class="end-sep">
    
      
        <div class="alignleft">
          <a href="/2016/05/22/enum-probolems-in-hessian/#more" class="more-link">Read More</a>
        </div>
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2016/05/15/arrayblockingqueue-put-offer/">
  <time datetime="2016-05-15T03:01:06.000Z">
    May 15 2016
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2016/05/15/arrayblockingqueue-put-offer/">关于ArrayBlockingQueue的put和offer方法</a></h1>
  

  </header>
  
  <div class="entry">
    
      <p>最近线上出现了一个故障，故障的表现就是服务请响应很慢，依赖方获取不到执行结果，查看调用堆栈，发现所有的操作都阻塞在写日志的地方，这个写日志是先写日志到内存，然后再刷新到其他地方。采用了ArrayBlockingQueue，但是调用了ArrayBlockQueue的put方法</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
</pre></td><td class="code"><pre><span class="javadoc">/**
 * Inserts the specified element at the tail of this queue, waiting
 * for space to become available if the queue is full.
 *
 *<span class="javadoctag"> @throws</span> InterruptedException {@inheritDoc}
 *<span class="javadoctag"> @throws</span> NullPointerException {@inheritDoc}
 */</span>
<span class="keyword">public</span> <span class="keyword">void</span> <span class="title">put</span>(E e) <span class="keyword">throws</span> InterruptedException {
    checkNotNull(e);
    <span class="keyword">final</span> ReentrantLock lock = <span class="keyword">this</span>.lock;
    lock.lockInterruptibly();
    <span class="keyword">try</span> {
        <span class="keyword">while</span> (count == items.length)
            notFull.await();
        insert(e);
    } <span class="keyword">finally</span> {
        lock.unlock();
    }
}
</pre></td></tr></table></figure>

<p>这里的put方法会等待一个空的位置出来，然后再执行insert，但是系统的请求量非常大，此时一个请求过来后，前面的请求可能还处于等待空位置这一步，此时当前请求获取lock就等待，这样这个业务操作就一直处于获取锁获取不到的场景中了。这是一个真实出现的case，血一般的教训，当时只能不断重启机器来缓解问题。如何彻底解决这个问题，换个API</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
</pre></td><td class="code"><pre><span class="javadoc">/**
 * Inserts the specified element at the tail of this queue, waiting
 * up to the specified wait time for space to become available if
 * the queue is full.
 *
 *<span class="javadoctag"> @throws</span> InterruptedException {@inheritDoc}
 *<span class="javadoctag"> @throws</span> NullPointerException {@inheritDoc}
 */</span>
<span class="keyword">public</span> <span class="keyword">boolean</span> <span class="title">offer</span>(E e, <span class="keyword">long</span> timeout, TimeUnit unit)
    <span class="keyword">throws</span> InterruptedException {

    checkNotNull(e);
    <span class="keyword">long</span> nanos = unit.toNanos(timeout);
    <span class="keyword">final</span> ReentrantLock lock = <span class="keyword">this</span>.lock;
    lock.lockInterruptibly();
    <span class="keyword">try</span> {
        <span class="keyword">while</span> (count == items.length) {
            <span class="keyword">if</span> (nanos &lt;= <span class="number">0</span>)
                <span class="keyword">return</span> <span class="keyword">false</span>;
            nanos = notFull.awaitNanos(nanos);
        }
        insert(e);
        <span class="keyword">return</span> <span class="keyword">true</span>;
    } <span class="keyword">finally</span> {
        lock.unlock();
    }
}
</pre></td></tr></table></figure>

<p>换成offer判断返回值为false的情况，不然把业务操作阻塞住。以后在高并发场景下面就不要在使用put这个API了。</p>

    
  </div>
  <footer class="end-sep">
    
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2016/04/17/software-design/">
  <time datetime="2016-04-17T13:33:06.000Z">
    Apr 17 2016
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2016/04/17/software-design/">关于系统架构设计的心得(一)</a></h1>
  

  </header>
  
  <div class="entry">
    
      <h4 id="一-概述">一.概述</h4>
<p>关于系统的架构设计，其实有很多内容，要想设计出足够灵活的软件系统，确实不是一件容易的事情，特别是面对我们日新月异的业务，业务的变动完全可以推翻你之前所做的所有设计，如何在复杂的业务中剥离出一些固定的规律，这大概就是系统架构的主要目的了。要想做好系统架构，你需要对业务有一个宏观层面的认识和理解，需要把你所面对的业务模块化，结构化，然后再针对每个模块每个结构进行详细的设计。当然这些模块的划分以及抽象，也需要你有一定的经验。</p>

    
  </div>
  <footer class="end-sep">
    
      
        <div class="alignleft">
          <a href="/2016/04/17/software-design/#more" class="more-link">Read More</a>
        </div>
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2016/03/19/jvm-systemdictionary/">
  <time datetime="2016-03-19T10:01:23.000Z">
    Mar 19 2016
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2016/03/19/jvm-systemdictionary/">关于YGC时间变长的记录</a></h1>
  

  </header>
  
  <div class="entry">
    
      <p>最近看见很多同事都在讨论一个JVM YGC时间变长的问题，在平时业务开发的过程中，我们经常使用</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre>XStream xs = <span class="keyword">new</span> XStream();
</pre></td></tr></table></figure>

<p>来实现XML和JavaBean之间的相互转换，看看实现就知道在上面的构造函数中不断创建新的classloader出来</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
2
3
4
</pre></td><td class="code"><pre><span class="keyword">public</span> <span class="title">XStream</span>(
            ReflectionProvider reflectionProvider, Mapper mapper, HierarchicalStreamDriver driver) {
        <span class="keyword">this</span>(reflectionProvider, driver, <span class="keyword">new</span> ClassLoaderReference(<span class="keyword">new</span> CompositeClassLoader()), mapper, <span class="keyword">new</span> DefaultConverterLookup(), <span class="keyword">null</span>);
    }
</pre></td></tr></table></figure>

<p>不断创建新的classloader会导致YGC的时间变长。JVM的类加载机制都是双亲委派机制。<br>假如：AClassLoader-&gt;BClassLoader-&gt;CClassLoader，现在需要加载X这个类，AClassLoader首先会交给BClassLoader去加载，BClassLoader会交给CClassLoader去加载，如果CClassLoader能加载到，那么X这个类就被加载了。此时在SystemDictionary这个HashTable数据结构中会存储3条记录。</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
2
3
4
5
</pre></td><td class="code"><pre>X-AClassLoader-X.cls
X-BClassLoader-X.cls
X-CClassLoader-X.cls

此时SystemDictionary中有三条关于X的加载记录，如果发现任何一条，就认为X已经加载过了。
</pre></td></tr></table></figure>

<p>其中AClassLoader和BClassLoader叫做X的出始类加载器。CClassLoader叫做X的定义类加载器。如果不断自定义ClassLoader的话，SystemDictionary中会不断增加K-V记录，这样YGC扫描的范围就越大，YGC耗时就越多。</p>
<p>最后，在使用XStream时，最好别每次都创建一个新的ClassLoader来，减少YGC的时间，提升性能。</p>

    
  </div>
  <footer class="end-sep">
    
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/11/18/xstream-skills-for-utf8/">
  <time datetime="2015-11-18T06:26:04.000Z">
    Nov 18 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/11/18/xstream-skills-for-utf8/">使用xstream解析utf-8格式的字符串</a></h1>
  

  </header>
  
  <div class="entry">
    
      <p>最近在使用xstream解析一个xml字符串时，出现了解析失败的问题，出错原因很简单，xml字符串中指定了utf-8的编码，此时我们直接构造一个</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre>XStream xstream = <span class="keyword">new</span> XStream();
</pre></td></tr></table></figure>

<p>这样构造的话，一定会解析失败。<br>需要按照下面的方式来构造才能正确解析utf-8格式的xml字符串</p>
<figure class="highlight java"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre>XStream xstream = <span class="keyword">new</span> XStream(<span class="keyword">new</span> DomDriver(<span class="string">"UTF-8"</span>));
</pre></td></tr></table></figure>

<p>xstream是一个比较方便的工具，能够实现xml和object之间的相互转换，注意在平时开发过程中的灵活使用。</p>

    
  </div>
  <footer class="end-sep">
    
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/10/29/mac-svn-problem/">
  <time datetime="2015-10-29T05:34:37.000Z">
    Oct 29 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/10/29/mac-svn-problem/">mac遇到的一个svn的问题</a></h1>
  

  </header>
  
  <div class="entry">
    
      <p>今天在mac使用svn pe svn:ignore 来设置忽略文件夹时出现了下面的错误</p>
<figure class="highlight"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre>svn: E205007: None of the environment variables SVN_EDITOR, VISUAL or EDITOR are <span class="operator"><span class="keyword">set</span>, <span class="keyword">and</span> <span class="keyword">no</span> <span class="string">'editor-cmd'</span> run-<span class="keyword">time</span> configuration <span class="keyword">option</span> was <span class="keyword">found</span></span>
</pre></td></tr></table></figure>

<p>解决办法，在.bash_profile中增加下面一行，然后source生效即可</p>
<figure class="highlight"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre><span class="keyword">export</span> SVN_EDITOR=vim
</pre></td></tr></table></figure>

<p>注意使用</p>
<figure class="highlight"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre>svn pe svn:<span class="built_in">global</span><span class="attribute">-ignores</span> <span class="built_in">.</span>
</pre></td></tr></table></figure>

<p>进行全局设置，避免给每个目录执行</p>
<figure class="highlight"><table><tr><td class="gutter"><pre>1
</pre></td><td class="code"><pre><span class="tag">svn</span> <span class="tag">pe</span> <span class="tag">svn</span><span class="pseudo">:ignore</span> .
</pre></td></tr></table></figure>

<p>来设置</p>

    
  </div>
  <footer class="end-sep">
    
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/10/23/tec-accumulation-1/">
  <time datetime="2015-10-23T15:55:18.000Z">
    Oct 23 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/10/23/tec-accumulation-1/">拓宽技术视野一</a></h1>
  

  </header>
  
  <div class="entry">
    
      <p>利用空闲的时间，随便看看一些新的技术，拓宽自己的技术视野。</p>
<ul>
<li>Betamax 利用这个开源二方库能够mock一个http请求。 </li>
<li>cucumber 基于DSL来做单元测试，<a href="https://c0deattack.wordpress.com/2012/03/28/cucumber-jvm-with-cucumber-java-cucumber-junit-example/" target="_blank">具体例子</a></li>
<li>jOOR 一个简化发射调用的JAVA框架，把反射调用变成一行链式调用，这种框架貌似挺多的，<a href="https://c0deattack.wordpress.com/2012/03/28/cucumber-jvm-with-cucumber-java-cucumber-junit-example/" target="_blank">源码地址</a></li>
</ul>

    
  </div>
  <footer class="end-sep">
    
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/10/15/velocity-utils-stream-to-string/">
  <time datetime="2015-10-15T12:41:33.000Z">
    Oct 15 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/10/15/velocity-utils-stream-to-string/">velocity工具函数以及InputStream到String的转换方法</a></h1>
  

  </header>
  
  <div class="entry">
    
      <h4 id="一-背景">一.背景</h4>
<p>最近在做需求的时候，需要在程序中把一个vm文件渲染成一个字符串，同时也需要把一个InputStream流转换成一个字符串，虽然说很简单，但是自己还是翻了翻以前的代码，也在网上找了相关的例子，为了下次使用的是能能够快速找到，专门记录一下。<br>
    
  </div>
  <footer class="end-sep">
    
      
        <div class="alignleft">
          <a href="/2015/10/15/velocity-utils-stream-to-string/#more" class="more-link">Read More</a>
        </div>
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/10/13/how-to-modify-jvm-bytecode-dynamic/">
  <time datetime="2015-10-13T11:13:30.000Z">
    Oct 13 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/10/13/how-to-modify-jvm-bytecode-dynamic/">如何动态修改JVM的字节码</a></h1>
  

  </header>
  
  <div class="entry">
    
      <h4 id="一-概述">一.概述</h4>
<p>最近在做一个需求的时候，需要在JVM启动好之后，能够动态的修改JVM已经加载的一个类的一个方法，把这个方法的返回值直接改成返回true。</p>

    
  </div>
  <footer class="end-sep">
    
      
        <div class="alignleft">
          <a href="/2015/10/13/how-to-modify-jvm-bytecode-dynamic/#more" class="more-link">Read More</a>
        </div>
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  
    <article class="post">
  <header>
    
      <div class="icon"></div>
      <a href="/2015/09/09/awk-command/">
  <time datetime="2015-09-09T13:12:36.000Z">
    Sep 9 2015
  </time>
</a>
    
    
  
    <h1 class="title"><a href="/2015/09/09/awk-command/">awk使用总结</a></h1>
  

  </header>
  
  <div class="entry">
    
      <h4 id="一-概述">一.概述</h4>
<p>在平时工作中经常会遇到一些文本的处理，awk就是一种文本处理语言，很方便，很轻量，可以说awk也是一种编程语言。</p>
<p>awk的工作流程是这样的：读入有’\n’换行符分割的一条记录，然后将记录按指定的域分隔符划分域，填充域，\$0则表示所有域，\$1表示第一个域，\$n表示第n个域。默认域的分隔符是”空白键”或”tab键”。<br>
    
  </div>
  <footer class="end-sep">
    
      
        <div class="alignleft">
          <a href="/2015/09/09/awk-command/#more" class="more-link">Read More</a>
        </div>
      
      
    
    <div class="clearfix"></div>
  </footer>
</article>



  

  <nav id="pagination">
  
  
    <a href="/page/2/" class="next">Next</a>
  
  <div class="clearfix"></div>
</nav>

</div>
	  </div>
	  <div class="widget-wrapper">
		<aside id="sidebar">
  
  
    
      
      <div class="seach">
	<h3 class="title">搜索</h3>
	<div style="padding-left:5px;padding-bottom: 10px;">
		<input type="text" class="st-default-search-input" />
	</div>
</div>
<div class="widget-seperator"></div>

    
      
      
<div class="widget tagslist">
		<h3>标签</h3>
		<ul class="clearfix">
		
			<li><a href="/tags/ASM/" title="ASM">ASM<sup>2</sup></a></li>
		
			<li><a href="/tags/Akka/" title="Akka">Akka<sup>2</sup></a></li>
		
			<li><a href="/tags/Algorithm/" title="Algorithm">Algorithm<sup>2</sup></a></li>
		
			<li><a href="/tags/BTrace/" title="BTrace">BTrace<sup>2</sup></a></li>
		
			<li><a href="/tags/C/" title="C">C<sup>1</sup></a></li>
		
			<li><a href="/tags/CSS/" title="CSS">CSS<sup>2</sup></a></li>
		
			<li><a href="/tags/Concurrency/" title="Concurrency">Concurrency<sup>1</sup></a></li>
		
			<li><a href="/tags/Experience/" title="Experience">Experience<sup>3</sup></a></li>
		
			<li><a href="/tags/HBase/" title="HBase">HBase<sup>3</sup></a></li>
		
			<li><a href="/tags/IBatis/" title="IBatis">IBatis<sup>3</sup></a></li>
		
			<li><a href="/tags/JAVA/" title="JAVA">JAVA<sup>26</sup></a></li>
		
			<li><a href="/tags/JVM/" title="JVM">JVM<sup>9</sup></a></li>
		
			<li><a href="/tags/Linux/" title="Linux">Linux<sup>2</sup></a></li>
		
			<li><a href="/tags/Qcon/" title="Qcon">Qcon<sup>2</sup></a></li>
		
			<li><a href="/tags/Spring/" title="Spring">Spring<sup>6</sup></a></li>
		
			<li><a href="/tags/awk/" title="awk">awk<sup>1</sup></a></li>
		
			<li><a href="/tags/crontab/" title="crontab">crontab<sup>1</sup></a></li>
		
			<li><a href="/tags/git/" title="git">git<sup>1</sup></a></li>
		
			<li><a href="/tags/guava/" title="guava">guava<sup>1</sup></a></li>
		
			<li><a href="/tags/jQuery/" title="jQuery">jQuery<sup>2</sup></a></li>
		
		</ul>
</div>
<div class="widget-seperator"></div>


    
      
      <% if (site.posts.length){ %>
<div class="widget recent-posts">
  <h3 class="title"><%= __('最新文章') %></h3>
  <ul class="clearfix">
    <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
      <li>
        <a href="<%= config.root %><%= post.path %>" title="<%= post.title %>"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
</div>
<div class="widget-seperator"></div>
<% } %>

    
      
      
<div class="widget categorieslist">
		<h3>分类</h3>
		<ul class="clearfix">
		
			<li><a href="/categories/JVM学习/" title="JVM学习">JVM学习<sup>6</sup></a></li>
		
			<li><a href="/categories/web开发/" title="web开发">web开发<sup>2</sup></a></li>
		
			<li><a href="/categories/分布式/" title="分布式">分布式<sup>2</sup></a></li>
		
			<li><a href="/categories/前端开发/" title="前端开发">前端开发<sup>3</sup></a></li>
		
			<li><a href="/categories/大数据/" title="大数据">大数据<sup>3</sup></a></li>
		
			<li><a href="/categories/并发技术/" title="并发技术">并发技术<sup>2</sup></a></li>
		
			<li><a href="/categories/并发编程/" title="并发编程">并发编程<sup>1</sup></a></li>
		
			<li><a href="/categories/开发工具/" title="开发工具">开发工具<sup>12</sup></a></li>
		
			<li><a href="/categories/开发杂谈/" title="开发杂谈">开发杂谈<sup>2</sup></a></li>
		
			<li><a href="/categories/技术交流/" title="技术交流">技术交流<sup>2</sup></a></li>
		
			<li><a href="/categories/数据库/" title="数据库">数据库<sup>4</sup></a></li>
		
			<li><a href="/categories/架构设计/" title="架构设计">架构设计<sup>1</sup></a></li>
		
			<li><a href="/categories/编程开发/" title="编程开发">编程开发<sup>35</sup></a></li>
		
			<li><a href="/categories/编程语言/" title="编程语言">编程语言<sup>11</sup></a></li>
		
		</ul>
</div>
<div class="widget-seperator"></div>


    
      
      <div class="widget weibo">
  <h3 class="title">微博</h3>
  <div class="weibo-context">
<iframe width="100%" height="120" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2411391267&verifier=dc5f828b&dpc=1"></iframe>
  </div>
</div>

    
  
</aside>
<div class="clearfix"></div>
	  </div>
  </div>
  <footer id="footer"><div class="copyright">
  
  &copy; 2016 <a href="/">BolinYoung</a>
  
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
   | 
  Redesign by <a href="http://heroicyang.com/" target="_blank">Heroic Yang</a>
</div>
<div class="clearfix"></div>
</footer>
  <script src="<%- config.root %>js/jquery-1.7.2.min.js"></script>
<script src="<%- config.root %>js/scale.fix.js"></script>
<script src="<%- config.root %>js/jquery.imagesloaded.min.js"></script>
<script src="<%- config.root %>js/gallery.js"></script>

<% if (config.disqus_shortname){ %>
<script type="text/javascript">
  var disqus_shortname = '<%= config.disqus_shortname %>';

  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
<% } else if (theme.duoshuo_shortname){ %>
<script type="text/javascript">
  var duoshuoQuery = { short_name: '<%= theme.duoshuo_shortname %>' };
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<% } %>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
  (function($){
    $('.fancybox').fancybox();
  })(jQuery);
</script>
<% } %>

</body>
</html>
